<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RingVerse</title>
    <link rel="stylesheet" href="../styles/ringverse.css">
    <link rel="icon" href="../ringverseLogo copy.png" type="image/png">
</head>

<body>
    <div class="main">
        <h1 id="displayUsername"></h1>
        <div class="main-container">
            <div class="box-lid"></div>
            <div class="box-base"></div>
            <div class="ring" id="ring"></div>
        </div>
    </div>

    <div class="pop-up" id="pop-up">
        <h2>Will you Accept the ring?</h2>
        <button class="option" id="yes">Yes</button>
        <button class="option" id="blush">Blush</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti"></script>
    <script src="../controllers/ringverse.js"></script>
</body>

</html>